{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block stylesheets %}
    <style>
        /*.account-section .review-form {*/
        /*    width: 57.2rem;*/
        /*    height: 79.1rem;*/
        /*}*/

        .user-dashboard .nav-content .modal-main .review-form {
            width: 57.2rem;
            height: 79.1rem;
            margin-top: 0;
        }
    </style>
{% endblock %}

{% block body %}

    <!---------------user-profile-section---------------->
    <section class="user-profile footer-padding">
        <div class="container">
            <!--------------- contact-section---------------->
            <section class="contact product footer-padding">
                <div class="container">
                    <div class="contact-section">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="contact-info-section">
                                    <div class="contact-information">
                                        <h5 class="wrapper-heading">Mon compte</h5>
                                        <p class="paragraph"> Bienvenue {{ app.user.firstname }} dans votre compte.<br>
                                            C'est dans cet espace que vous allez pouvoir gérer toutes vos informations
                                            perssonelles</p>
                                        <div class="contact-wrapper">
                                            <div class="row gy-5">

                                                <div class="col-sm-3">
                                                    <a href="{{ path('account_password') }}" >
                                                        <div class="wrapper phone bg-primary">
{#                                                            <div class="wrapper-img">#}
{#                                                    <span>#}

{#                                                    </span>#}
{#                                                            </div>#}
                                                            <div class="wrapper-content">
                                                                <h5 class="wrapper-heading text-white">Modifier mon mot de
                                                                    passe</h5>
                                                                {#                                                            <p class="paragraph">+1347-430-9510</p> #}
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>

                                                <div class="col-sm-3">
                                                    <a href="{{ path('app_account_address') }}">
                                                        <div class="wrapper phone">
                                                            <div class="wrapper-content">
                                                                <h5 class="wrapper-heading">Ajouter mes adresses</h5>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="col-sm-3">
                                                    <a href="{{ path('account_order') }}">
                                                        <div class="wrapper phone">
                                                            <div class="wrapper-content">
                                                                <h5 class="wrapper-heading">Mes commandes</h5>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
            <!--------------- contact-section-end---------------->

        </div>
    </section>
    <!--------------- user-profile-section-end --------------->
{% endblock %}
