{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}



{% block body %}


    <!--------------- hero-section --------------->
    <section class="hero mt-4">
        <div class="container">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" style="background-image: url('assets/images/slide1.webp');">

                    </div>
                    <div class="swiper-slide">

                    </div>
                    <div class="swiper-slide">

                    </div>
                </div>
                {#            <div class="swiper-button-next"></div> #}
                {#            <div class="swiper-button-prev"></div> #}
                <div class="swiper-pagination"></div>
            </div>
        </div>

    </section>


    <!--------------- hero-section-end --------------->

    <!--------------- flash-section--------------->
    <section class="product best-product">
        <div class="container">
            <div class="best-product-section">
                <div class="row g-4">
                    {% for product in products.items %}
                        {{ component('ProductItem', {
                            product: product
                        }) }}
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>
    <!--------------- flash-section-end--------------->
{% endblock %}
