{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <!--------------- header-section-end --------------->

    <!--------------- products-info-section--------------->
    <section class="product product-info">
        <div class="container">
            {{ component('ProductDetails', {
                product: product
            }) }}

        </div>
    </section>
    <!--------------- products-info-end--------------->

{% endblock %}
